---
import Layout from '../layouts/Layout.astro';
import { porfolios } from '../util/portfolios';
import PortfolioCard from '../components/PortfolioCard.astro';
---

<Layout title="Arch Studio - Portfolio">
    <main class="min-h-screen">
        <section class="grid lg:grid-cols-2 xl:grid-cols-3 px-8 md:px-0 pt-[56px] md:pt-0 gap-6 pb-[132px]">
            {
                porfolios.map(item => (
                    <PortfolioCard 
                        imgMobile={item.imgMobile}
                        imgTablet={item.imgTablet}
                        imgDesktop={item.imgDesktop}
                        alt={item.title}
                        title={item.title}
                        info={item.date}
                        link="#"
                        />
                ))
            }
        </section>
    </main>
</Layout>